<!DOCTYPE>
<html>
	<head>
		<meta charset='urf-8'>
		<title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css'/>
	</head>
	<body>
		<%= respuesta %><p>
		<a href='/quizes/<%= quiz.id %>'>Volver</a>
	</body>
</html>