<!DOCTYPE>
<html>
	<head>
		<meta charset='urf-8'>
		<title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css'/>
	</head>
	<body>
		Añadir pregunta:<p>
		<form method="post" action="/quizes/create">
			<% include _form.ejs %>
		</form>
	</body>
</html>